<app-navbar></app-navbar>
<section class="bg-gradient-to-b from-blue-50 to-white py-24">
  <div class="max-w-7xl mx-auto px-4 text-center">

    <h1 class="text-4xl md:text-5xl font-bold text-gray-800 leading-tight">
      La plateforme intelligente de gestion<br />
      <span class="text-blue-700">des candidatures et du recrutement</span>
    </h1>

    <p class="mt-6 text-lg text-gray-600 max-w-3xl mx-auto">
      SmartHire accompagne les entreprises dans l’identification,
      l’évaluation et la sélection des meilleurs talents.
    </p>

  </div>
</section>
